# Основний фреймворк
streamlit

# Робота з даними та таблицями
pandas

# Запити до API (курси NBP)
requests

# Авторизація та база даних Supabase
supabase

# Для створення та запису Excel-файлів (PIT-38.xlsx). Без цієї бібліотеки при натисканні кнопки «Завантажити Excel PIT-38.xlsx» буде помилка.
openpyxl

# Якщо пізніше додаси Stripe або щось ще — пиши тут
# stripe